<% if logged_in? %> 
    <% if is_users_appointment?(@appointment) %> 
        <%= render 'errors' %> 
        <h1> Update Appointment </h1> 
        <%= form_for(@appointment) do |f| %> 
            <h3> Choose Your Coach </h3>
            <%= f.collection_select :employee_id, Employee.all, :id, :name %> <br> <br> <br> <br> 

            <h3> Choose A Time </h3> 

            <%= render 'time' %> 

            <div class="field <%= ' field_with_errors' if @appointment.errors[:time].any? %>">
            <%= f.datetime_select :time, { ampm: true, use_short_month: true, start_year: 2020, start_hour: 5, end_hour: 19, minute_step: 30, order: [:month, :day, :year, :hour, :minute ] }, {class: "form-control" } %> 
            </div>
            <br><br><br><br><br>

            <%= f.submit "update session" %> 
        <% end %> 
    <% end %> 
<% end %> 